.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.inline {
  display: inline;
}

.ml {
  margin-left: 18rem;
}

.column-full,
.column-half {
  width: 100%;
}

.col-half {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .pt-mobile {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .ml {
    margin-left: 10rem;
  }
}

body {
  background-color: rgb(240, 240, 240);
}
